$near-black: rgb(0, 0, 31);
$near-white: rgb(255, 255, 240);
$near-white-half-trans: rgba(255, 255, 240, 0.5);
$near-white-trans: rgba(255, 255, 240, 0.35);
$near-white-quarter-trans: rgba(255, 255, 240, 0.25);
$warm-gray: rgb(160, 160, 160);
$warm-gray-trans: rgba(160, 160, 160, 0.35);
$warm-gray-dark: rgb(56, 56, 76);
$yellow: rgb(255, 255, 16);
$yellow-trans: rgba(255, 255, 16, 0.35);
$yellow-quarter-trans: rgba(255, 255, 16, 0.25);
$blue: rgb(86, 183, 235);
$blue-dark: rgb(30, 64, 102);
$blue-trans: rgba(86, 183, 235, 0.35);
$blue-quarter-trans: rgba(86, 183, 235, 0.25);
$green: rgb(0, 253, 77);