.flex-container {
  display: flex;
}

.flex-row {
  flex-flow: row wrap;
}

.flex-column {
  flex-flow: column wrap;
}

.flex-between {
  justify-content: space-between;
}

.flex-centered {
  align-items: center;
}