.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 1em);
  grid-template-rows: 1fr 166px 1em 150px 1em 150px;
  overflow: hidden;
}

.full-width {
  grid-column: 1 / -1;
}

.indented {
  grid-column: 2 / -1;
}
