html {
  font-family: 'Alata', 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

* > a {
  text-decoration: underline;
  color: $blue;
}

body {
  background-color: $near-black;
}

article {
  color: $near-white;
  margin-top: 3.125vh;
  // width: 75vw;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(16, 6.25vw);
  grid-template-rows: repeat(16, 6.25vh);
  overflow-x: hidden;
}

.page-header {
  grid-column: 2/15;
  grid-row: 2;
}

.page-title {
  background-color: $warm-gray;
  color: $warm-gray;
  grid-column: 3/17;
  grid-row: 4;
}

.page-title > h1 {
  display: none;
}

.content-wrapper {
  grid-column: 3/15;
  grid-row: 5;
  display: flex;
  flex-flow: row wrap;
}

.grid-container::before {
  content: '';
  background-color: $warm-gray-dark;
  grid-column: 3/17;
  grid-row: 1/4;
  transform: skewX(332.5deg);
  transform-origin: bottom;
  z-index: -1;
}

.grid-container::after {
  content: '';
  grid-column: 12/17;
  grid-row: 4;
}

.section-title {
  margin-top: 6.25vh;
  color: $blue;
  font-size: 1em;
}